%section.article.article--centered.no-min-height.no-padding-bottom
  %article
    %h4.leader Your
    %h3 Day
    %p
      %span Throughout the Craft Academy day
      we’ve got table tennis, yoga, discussion groups, excessive N64 gaming, and the odd NERF battle. These kinds of activities are designed to keep your brain alive and your motivation intact. Of course, there's also an enormous amount of coding. Here's what goes on:

%section.no-padding-top
  .container
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th Time
            %th Activity
            %th Description
        %tbody
          %tr
            %td{data:{header: "Time"}} 9.00am
            %td{data:{header: "Activity"}} Standup
            %td{data:{header: "Description"}}
              %p Relate what you did yesterday, what you’re planning on today, where you got stuck, and how you got unstuck. Lots of clapping and feel-goods.
          %tr
            %td{data:{header: "Time"}} 9.30am
            %td{data:{header: "Activity"}} Breakout
            %td{data:{header: "Description"}}
              %p Depending on what got brought up at the standup, students might need to have a coach demo some stuff, or visualise things using a board.
          %tr
            %td{data:{header: "Time"}} 10.30am
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p Students pair with coach and alumni helper support throughout the morning, building real stuff using tools and practices we’d expect from a professional junior developer.
          %tr
            %td{data:{header: "Time"}} 1.00pm
            %td{data:{header: "Activity"}} Lunch
            %td{data:{header: "Description"}}
              %p Our cohorts tend to lunch together. Generally they like to go out in droves to one of Shoreditch’s fine local eateries and there's often a lunchtime talk from one of the many CTOs that our hiring team speak to!
          %tr
            %td{data:{header: "Time"}} 2.00pm
            %td{data:{header: "Activity"}} Meditation
            %td{data:{header: "Description"}}
              %p Programming is extremely challenging. Meditation helps keep a lid on things, keeps you grounded, and keeps your brain sharp.
          %tr
            %td{data:{header: "Time"}} 2.30pm
            %td{data:{header: "Activity"}} Standup
            %td{data:{header: "Description"}}
              %p Same as the morning. Keep the feel-goods flowing.
          %tr
            %td{data:{header: "Time"}} 3.00pm
            %td{data:{header: "Activity"}} Breakout
            %td{data:{header: "Description"}}
              %p Sometimes students don’t need this one. They’re usually pretty keen to get back to the project they were working on.
          %tr
            %td{data:{header: "Time"}} 4.00pm
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p More pair programming on our challenge-based curriculum, with coach and alumni helper support.
          %tr
            %td{data:{header: "Time"}} 8.30pm
            %td{data:{header: "Activity"}} Socialising
            %td{data:{header: "Description"}}
              %p A pecha kucha night, a trip to a software craftsmanship meetup at Yammer, a hosted event, or a film night...we love to organise stuff to keep your social bar topped up.
    .button-row.small-padding-top
      %p
        = link_to "Read more about our Coaching style", "https://blog.makersacademy.com/teacher-time/", target: "_blank", class: "button button--horizontal"
