%section.article.no-padding-bottom
  %article
    %h4.leader Our
    %h3 Manifesto
    %h4 We have six main beliefs. Together, they form our manifesto

%section.no-padding-top
  .container
    .three-width-row.row-with-borders
      .column
        .header-container
          %h4.leader Coding != Science
          %h3 Coding == Craft
        %p Coding is more than syntax. The best developers see themselves as Artisans.
      .column
        .header-container
          %h4.leader Pair Programming
          %h3 Two Heads > One
        %p We prefer code written in pairs over code written by lone-wolves.
      .column
        .header-container
          %h4.leader Best Practices ==
          %h3 Worth the Effort
        %p Doing it right and going a little slower is always better than moving fast and ignoring best practise.
    .three-width-row.row-with-borders
      .column
        .header-container
          %h4.leader At every opportunity
          %h3 Learn by Doing
        %p You can read about riding a bike 'til the cows come home; unless you actually try riding one, you're unlikely to be competing in the Tour de France any time soon.
      .column
        .header-container
          %h4.leader The Best Learning ==
          %h3 Self-Guided Learning
        %p It doesn't matter how much you pay a personal trainer - you still have to do the squats! As with training, so with learning.
      .column
        .header-container
          %h4.leader Healthy Body &&
          %h3 Healthy Mind == Success
        %p You have to be well to learn well, so we encourage our students to take care of their health - through  yoga, meditation and keeping fit.

    .button-row
      %p
        = link_to "Read more about our Manifesto", "http://blog.makersacademy.com/our-education-manifesto/", target: "_blank", class: "button button--horizontal"
