%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Läroplan
      %p
        %strong
          Vi ser kod som material och programmering som ett hantverk. För att bli en bra programmerare måste man träna och det gör man genom att skriva kod - om och om igen, med allt mer avancerade funktioner i sikte.
      %p
        %strong
          Vår utbildningsfilosofi tar fasta på det och våra studenter skriver kod från första dagen. Vi vet att det är det enda sättet att lära sig att koda. Teorin bakom, den kommer sen.