%section
  .container
    .centered-row
      %h2 Varför Craft Academy?
    .centered-row
      %table
        %tbody
          %tr
            %td Learning cutting edge coding techniques such as agile &amp; TDD
            %td Located at the heart of Silicon Roundabout with a big work space
          %tr
            %td Job support &ndash; our service isn't complete until you're hired
            %td Community of learners &ndash; because it's easier when you aren't alone
          %tr
            %td Macbook Pro with Retina Display &amp; 24" display for the duration of the course
            %td Our space is open from 8.30am &ndash; 9.00pm, Mon &ndash; Fri
          %tr
            %td Föreläsningar, nätverksträffar och meetups
            %td Kaffe, onsdagsfrukost och torsdagsfika.
