- language ||= :en
- color ||= ''

%section{class: language == :se ? 'hero' : '', style: current_page_is_campaign_page? ? "background-color: #{color} !important"  : ''}
  .container{style: current_page_is_campaign_page? ? "background-color: #{color} !important"  : ''}
    .row
      %h2 Course Dates
      %p.copy--left
        %strong
          Apply in time - the selection process takes approximately two weeks and we will interview you before you are accepted. There are at most twelve spots in each cohort.
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th Prep-Course start
            %th Course start
            %th Graduation

        %tbody
          - Intake.future_dates.each do |intake|
            %tr
              %td{data:{header: 'Prep-Course start'}}= intake.precourse_start_date.strftime('%-d %B %Y')
              %td
                %strong{data:{header: 'Course start'}}= intake.start_date.strftime('%-d %B %Y')
              %td{data:{header: 'Graduation'}}= intake.end_date.strftime('%-d %B %Y')
    -# .row
    -#   - if language == :se
    -#     %h4 Ansök i god tid, antal utbildningsplatser är begränsat.
    -#     = link_to 'Ansök nu', config.apply_form_url, class: 'button button--vertical'
