<p class='deprecated-browser-warning'>
Hej, Det ser ut som att du använder en gammal webbläsare. Tyvärr stödjer inte vår kod det.
Vi skulle rekommendera att du uppgraderar den. Det finns olika alternativ: <a href='https://www.mozilla.org/en-GB/firefox/new/'>Mozilla Firefox</a> or <a href='http://www.google.com/chrome/'>Google Chrome</a>.
</p>
