- language ||= :se
.email-capture-row
  %form.email-capture{id: 'mc-form', name: 'mc-embedded-subscribe-form'}
    %label{for: 'mailchimp-email'}
    %input{type: 'email', id: 'mailchimp-email', placeholder: (language == :se ? 'Din mailadress' : 'Your email'), required: true}
    %input{type: 'submit', value: (language == :se ? 'Jag vill veta mer' : 'Keep me posted')}
