%section.full-slider.no-min-height.with-padding
  .slider
    .slide
      .container
        .profile-row
          .copy--center
            %blockquote Craft Academy is a Conveyor Belt of Awesome. <br> There's no other source of recruitment I'd put this much energy into.
            %h4.subheader Martin Aspeli, Head of Engineering, <b>Deloitte Digital</b>
    .slide
      .container
        .profile-row
          .copy-center
            %blockquote A lot of software engineering graduates haven't done anywhere near as much actual software development as your guys. Their ability to organise, cooperate and just get things done is something you don’t see in most seniors, let alone juniors.
            %h4.subheader Mark McGlinchey, Global Head of Software, <b>FNZ</b>
    .slide
      .container
        .profile-row
          .copy--center
            %blockquote The Craft Academy graduates we hired have been awesome. We thought we'd need more resource alongside them, but that hasn't been the case: they're just so good!
            %h4.subheader Matthew Bradburn, Head of Talent Acquisition, <b>Qubit</b>
    .slide
      .container
        .profile-row
          .copy-center
            %blockquote Your grads can actually code: they're able to approach a problem and build a quality solution. They hit the ground running, where uni grads typically have a bigger learning curve. Craft grads add value from day one and have demonstrated they’re able to quickly progress.
            %h4.subheader Dan Bass, Senior Manager of Software Engineering, <b>Compare the Market</b>
