%section
  .container
    .centered-row
      %h4.leader Vanliga
      %h2 Frågor
    .definition-row
      %aside#definition-top
        %nav.definition-links
          - data.faqs.each_with_index do |category, index|
            %a.definition-link{href: "#definition-#{index}"}= category[:category_name]
      %article
        - data.faqs.each_with_index do |category, index|
          .category
            %h4{id: "definition-#{index}"}= category[:category_name]
            - category[:faqs].each do |faq|
              %dl.definition{id: slug(faq[:question])}
                %dt= faq[:question]
                %dd= markdown faq[:answer]
