%section
  .container
    %h3 Hitta oss
    %p.copy--left
      Du kan delta i Craft Academy på distans och jobba hemifrån men vi tror att de bästa effekterna uppnås om deltagarna jobbar nära varandra och coacherna.

    .vertical-tabs-container
      .vertical-tabs
        %a.js-vertical-tab.vertical-tab.is-active{href: 'javascript:void(0)', rel: 'tab1'} Göteborg
        %a.js-vertical-tab.vertical-tab{href: 'javascript:void(0)', rel: 'tab2'} Stockholm

      .vertical-tab-content-container
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: '', rel: 'tab1'} Göteborg
        #tab1.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/gothenburg.png', width: '400px'
          %h3 Göteborg
          %p I Göteborg hittar du oss vid Chalmers Innovation Stena Center på Holtermansgatan 1
          %p (mittemot stora Chalmers ingången).
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: '', rel: 'tab2'} Stockholm
        #tab2.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/stockholm.png', width: '400px'
          %h3 Stockholm
          %p I Stockholm hittar du oss på OpenLab på Valhallavägen 79 (I närheten av Tekniska Högskolan).