%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      .column
        %h4 Letar du efter utvecklare till ditt team?
        %h2 Bli en Hiring partner
        %p
          %strong
            Vi erbjuder en ny v채g att hitta medarbetare till din organisation. Med oss l채r du k채nna kandidaterna innan du ger dem ett erbjudande.
    .centerd-row
      = link_to 'Jag vill anst채lla', config.hire_form_url, class: 'button button--vertical button--large', target: '_blank'