%section
  .container
    .centred-row
      %h2 Våra kurser
      %p.copy--left
        Alla våra utbildningar finns tillgängliga på vår öppna
        = link_to 'LMS (Learning Management System)', class_site_url
        och har en öppen källkod licens.
        Du är välkommen att ta del av materialet gratis och gillar du vad du ser är du välkommen att bli en del av Craft Academy
        och registrera dig för vår bootcamp.
        %p.copy
        %iframe{width: '300', height: '168,75', src: 'https://www.youtube.com/embed/nx34gQH1Zik', frameborder: '0', allowfullscreen: ''}
