%section
  .container
    %article
      %h3 Vår mission
      %h4.copy--left Det är brist på utvecklare i Sverige och det finns ett stort behov av nya rekryter. Craft Academy siktar in sig på att vara en del av lösningen på det problemet.
      %p.copy--left Craft Academy startades av Thomas Ochman i samarbete med Makers Academy i London och levererade sin första bootcamp under hösten 2015. Vi har sedan starten haft en nära koppling till start-up scenen i Göteborg och har våra lokaler vid Chalemrs Innovation i en entreprenöriell miljö med många techföretag som grannar.
      %p.copy--left Inför vår expansion till andra nordiska städer siktar vi på att knyta nära band med andra inkubatorer och start-up acceleratorer för att kunna vara en naturlig kompetenspartner men även för att hjälpa våra studenter att knyta värdefulla kontakter och bygga nätverk.