/ Twitter Card data
%meta{content: 'Learn to code in 12 weeks with Craft Academy', name: 'twitter:card'}
%meta{content: '@CraftAcademySE', name: 'twitter:site'}
%meta{content: 'https://thecraftacademy.co.za/', name: 'twitter:url'}
%meta{content: 'Craft Academy - Coding as a Craft', name: 'twitter:title'}
%meta{content: 'Learn to code in 12 weeks with Craft Academy. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others.', name: 'twitter:description'}
%meta{content: '@CraftAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'Learn to code in 12 weeks with Craft Academy', property: 'og:title'}/
%meta{content: 'website', property: 'og:type'}/
%meta{content: 'https://thecraftacademy.co.za', property: 'og:url'}/
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', property: 'og:image'}/
%meta{content: 'Learn to code in 12 weeks with Craft Academy. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others.', name: 'og:description'}
%meta{content: 'Craft Academy - Coding as a Craft', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
