/ Twitter Card data
%meta{content: 'Lär dig koda på 12 veckor med Craft Academy', name: 'twitter:card'}
%meta{content: '@MakersAcademySE', name: 'twitter:site'}
%meta{content: 'https://www.craftacademy.se/', name: 'twitter:url'}
%meta{content: 'Craft Academy - Coding as a Craft', name: 'twitter:title'}
%meta{content: 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans', name: 'twitter:description'}
%meta{content: '@CraftAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'Lär dig programmering och webbutveckling på 12 veckor. ', property: 'og:title'}/
%meta{content: 'website', property: 'og:type'}/
%meta{content: 'https://www.craftacademy.se', property: 'og:url'}/
%meta{content: 'http://assets.craftacademy.se/images/logo/landing_screen.jpg', property: 'og:image'}/
%meta{content: 'Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans', name: 'og:description'}
%meta{content: 'Craft Academy - Coding as a Craft', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
/ Google Site Verification
%meta{name: 'google-site-verification', content: '98Gisjh08Ju69wUrJ2K6t4uRMy9P3XYaQYFc1aDGaeA'}/
