%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Course Plan
      %p
        %strong
          Good programmers are made through practice. At Craft Academy we put the greatest focus on actually writing and testing code - every day, constantly increasing complexity. We know that this is the only way to learn to code. Theory comes after practice.
