- page ||= :default

%section.hero-splash-white{style: "background-image: url(#{image_path('backgrounds/startup-2-fade.jpg')});"}
  .container
    .centered-row
      %article
        %h4.leader Bli en del av oss
        %h2 Allt detta ingår
        %ul
          %li
            %h5
              Förberedande kurs med stöd av coach.
          %li
            %h5
              12 veckors utmaningsbaserad utbildning på heltid.
          %li
            %h5
              Erfarna coacher på plats och på distans.
          %li
            %h5
              Lån av MacBook Pro som studiedator.
          %li
            %h5
              Lär dig efterfrågade utvecklingsmetoder som Agile och TDD.
          %li
            %h5
              Moderna ramverk inkl. HTML5, JavaScript, Ruby on Rails, Angular JS och Ionic.
          %li
            %h5
              Kreativ miljö på Chalmers Innovation, en av Sveriges ledande startup-hubbar.
          %li
            %h5
              Föreläsningar, nätverksträffar och meetups.
          %li
            %h5
              Kaffe, onsdagsfrukost och torsdagsfika.

          %li
            %h5
              Hjälp med att söka jobb via vårt kontaktnät.
        - unless page == :payment
          = link_to 'Betalningsplaner', '/payment', locals: {page: :payment}, class: 'button button--vertical'
