%section
  .container
    %article
      %h2 Studera med Craft Academy
      %h4 Få ditt första jobb med vår jobbgaranti!
      %p.copy--left
        Det händer mycket inom techindustrin och webben har haft en stor inverkan på hur vi umgås,
        hur vi lär oss nya saker och hur vi gör affärer med varandra. Framtiden är riktigt spännande.
      %p.copy--left
        %strong
          Genom ett eget nätverk av Hiring Partners i Sverige och övriga Europa hjälper vi alla våra deltagare i deras kariärrplanering.
      %p.copy--left
        Vi tror att traditionell utbildning lär människor att klara prov, snarare än att ge dem verklig kunskap.
        På Craft Academy ger vi dig inte några betyg eller diplom. Istället för att bli 'lärd' kommer du vilja lära dig själv.
        På det sättet är vår kurs unik, inte bara på grund av dess intensitet, utan även på grund av vårt tillvägagångssätt.
        Vi ger dig en strukturerad daglig läroplan, projekt, övningar och utmaningar, men det är du som gör det tunga jobbet och tar ansvar för din egna utveckling.
    %section
      .centered-row
        %h2 Målgrupp
        %h4 Vi vänder oss till dig som är redo att kavla upp ärmarna och jobba hårt för att förverkliga dina mål.
        %table
          %tbody
            %tr
              %td Nybörjare som vill börja eller nyligen börjat lära sig att koda
              %td Yrkesfolk som vill genomföra ett karriärbyte och ta steget in i IT-branshen.
            %tr
              %td Entreprenörer som jobbar med tekniska innovationer och som vill förstärka sin kompetens.
              %td Studenter inom Computer Science som behöver praktisk erfarenhet.
            %tr
              %td Projektledare som vill bredda sin kompetens och förstå utvecklingsprocessen.
              %td Alla som letar efter en alternativ utbildningsväg för att kunna jobba i en spännande och fartfylld bransch.
    %article
      %p.copy--left
        Vi ger dig alla verktyg du behöver för att bli en bra programmerare - tillgång till en beprövad läroplan, erfarna coacher på plats och på distans, möjlighet att samverka med deltagare i andra delar av Norden men även en egen MacBook Pro så att du får en bra utvecklarmiljö att jobba i.
      %p.copy--left
        Du tillbringar dina dagar på plats i våra lokaler vid Chalmers Innovation i Göteborg eller på OpenLab vid KTH i Stockholm och tar en aktiv roll i gemensamma föreläsningspass, projektarbeten och möten. Förutom svenska är engelska vårt arbetsspråk. Den mängd av engagemang du tillför till programmet återspeglar sig i dina resultat.

    .half-slider.half-slider--reverse
      .half-slider-row
        .hide-desktop
          .copy.copy--right
            %h4.leader Vår unika
            %h2 Läroplan
            %p En av de största utmaningar som du kan komma att tampas med när du lär dig att koda, är att veta i vilken ordning du ska lära dig saker och ting i. Vi tar oss an denna utmaning med vår beprövade läroplan - utvecklad av yrkesverksamma mjukvaruingenjörer och baserad på verkliga cases och senaste praxis.
            .button-row.shift-to-bottom
              %p
                = link_to 'Vår utbildningsmodell', '/curriculum.html', class: 'button button--horizontal'
        .column
          .slider
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/ruby-logo.png', height: 150
              %h3 Ruby
              %p Du kommer att bygga avancerade webbapplikationer i programeringsspråket Ruby och med Ruby on Rails, ett kraftfull ramverk för webbaserade program.
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/html5-logo.png', height: 150
              %h3 HTML5
              %p HTML5 är grundbulten inom webbutveckling. Grunderna är alltid viktiga och vi visar dig hur man strukturerar webbsidor och gör dem till en engagerande upplevelse för användarna.
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/javascript-logo.png', height: 150
              %h3 JavaScript
              %p Varje webbapplikation behöver en front-end, och med javascript kan du skapa dynamiska, engagerande webbapplikationer. Du kommer att lära dig skriva & felsöka JavaScript på klientsidan för att skapa moderna sidor för olika enheter.
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/git-logo.png', height: 150
              %h3 git
              %p Du behöver ha koll på ändringarna i dina projekt, spara dessa på ett informativt sätt samt kunna återställa tidigare versioner snabbt om något skulle strula. Säg hej till Git.
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/git-logo.png', height: 150
              %h3 Agile & Lean
              %p Du får lära dig moderna lean startup principer och agila metoder som används inom mjukvaruutveckling samt bästa praxis som t ex parprogrammering, dagliga stand-ups, Kanban och utveckling i team.
            .slide
              -#.image--centered
              -#  = image_tag 'technologies/git-logo.png', height: 150
              %h3
                = 'System-<br>utveckling'.html_safe
              %p Från designmönster som Model-View-Controller eller SOLID till Testdriven utveckling. Vi lär dig hur man utvecklar system enligt bästa praxis som baseras på andra programmerares tidigare erfarenheter - saker du kan inte lära dig själv.
        .column.show-desktop
          .copy.copy--right
            %h4.leader Vår unika
            %h2 Läroplan
            %p En av de största utmaningar som du kan komma att tampas med när du lär dig att koda, är att veta i vilken ordning du ska lära dig saker och ting i. Vi tar oss an denna utmaning med vår beprövade läroplan - utvecklad av yrkesverksamma mjukvaruingenjörer och baserad på verkliga cases och senaste praxis.
            .button-row
              %p
                = link_to 'Vår utbildningsmodell', '/curriculum.html', class: 'button button--horizontal'
