%section.article.article--centered
  %article
    %h3 Why us?
    %p
      %span Learning is so much more than a curriculum and some educational materials.
      We currently use a mixture of workshops, exercises, projects, classroom break-out sessions and end-of-week challenges to help our students understand programming. The immersive environment, having expert coaches on hand all day, and pairing with other students are all key to our educational process.

    %p Programming is a practical skill - reading books or listening to lectures alone will never make you a developer. We encourage our students to spend every waking second thinking about and writing code... And many of them end up dreaming about it too! This is the only way to become a job-ready junior developer in a few short months. We start every day with a lecture or a workshop, and outside of 'classwork', most of our students' time is spent pair programming on practical exercises in the presence of experts.

    %p We don't want our students getting bored, so we encourage people to explore topics that interest them, and since no two students are alike, we use the interactive learning environment to tailor the experience for each cohort. In short - if you've never heard of the technologies we talk about, don't be put off, and if you already have some experience of coding, there's still a huge amount of value to be had enrolling on one of our courses. We also regularly invite industry experts to give talks to our students. It's a great opportunity to learn from practicing professionals and build your network. So far we have hosted speakers from Tesla, Intel, Stripe, Forward Parners, Moo, Shutl, Skimlinks and many many others.

    %p We often get software development companies coming in to pair with our students too. We've been fortunate enough to have developers from Pivotal Labs, Skimlinks and other amazing companies coming to our offices and pairing with our students.