.button-row
  .button.button--horizontal Horizontal button
.button-row
  .button.button--vertical Vertical button
.button-row
  .button.button--horizontal.button--large Large horizontal button
.button-row
  .button.button--vertical.button--large Large vertical button