%ul.tabs
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Tab Item
    .tab-content
      %p= lorem.sentences(5)
  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Another Tab
    .tab-content
      %p= lorem.sentences(5)
  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Third
    .tab-content
      %p= lorem.sentences(5)
  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Last Item
    .tab-content
      %p= lorem.sentences(2)