
%section.article--centered
  %article
    %h4.leader Article Leader
    %h2 Article Header
    %h4.subheader Article Subheader
    %p.author by Article Author
    %p.date 30 Mar 2014
    %p
      %span A short all-caps start that
      neatly segues into article content.
      =lorem.sentences(5)
      If this is an excerpt, you might have the followi...
      %a.read-more{:href => "javascript:void(0)"}
        Read More
    %h3 
      Subheadings are made of
      %code h3
      tags
    %p
      %span Over-use of caps makes you look
      like you're trying to be more important than you actually are. 
      Just the first line of the article is enough.
      =lorem.sentences(4)
    %hr/
    %p.author Author Name
    %hr/
    