%section.no-padding
  .container
    %h1 h1. Learn to code in 12 weeks
    %h2 h2. Learn to code in 12 weeks
    %h3 h3. Learn to code in 12 weeks
    %h4 h4. Learn to code in 12 weeks
    %h5 h5. Learn to code in 12 weeks
    %h6 h6. Learn to code in 12 weeks
    %h2.subheader Subheader