<!-- BEGIN <%= partial_name %> -->
<section class="element no-padding-top no-padding-bottom">
  <ul class="tabs">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Live</a>
      <div class="tab-content">
        <%= partial partial_name %>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link tab-link--code">Code</a>
      <div class="tab-content tab-content--code">
        <pre>
          <code class="language-haml">
            <%= (raw "#{partial_name}.html.haml") %>
          </code>
        </pre>
      </div>
    </li>
  </ul>
</section>
<!-- END <%= partial_name %> -->
