%section.no-padding-bottom
  .centered-row
    %h2 Little
    %h4.subheader Smaller, individual components
  .definition-row
    %aside#definition-top
      %nav.definition-links
        %a.definition-link{href: "#definition-buttons"} Buttons
    %article
      .category
        %h4 Buttons
        %dl.definition{id: "definition-buttons"}
          %dt Calls to Action
          %dd= partial :"elements/element", locals: { partial_name: "elements/little/_buttons" }
