- description "Come and work with us."
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_2.jpg')})"}
  .container
    .centered-row
      %h1 We are growing
      %p Craft is an exciting place to master technologies you've used for years. We're always open to applications.

%section
  .article--centered
    %article
      %p
        %span Since we started in early 2013 we grew from two people to a team of fourteen.
        We have graduated over 250 Craft who now work at Pivotal Labs, 8th Light, Thoughtworks, New Bamboo, BSkyB, FundingCircle, the Ministry of Justice, Global Personals, Mint Digital and many other great companies. We are profitable. Our mission is to teach as many people as possible to code well through our web development coding classes.
      %p To learn, read.
      %p To know, write.
      %p To master, coach.
  .button-row
    %a{href: "mailto:careers@makersacademy.com", class: "button button--vertical"} Join us
