// Important stuff to override everything else

.no-min-height {
  min-height: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.small-padding-top {
  padding-top: ma-spacing(1) !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}

// Doorbell.io

#doorbell-button {
  font-size: 16px;
  border: 2px solid rgba(#fff, 0.6);
  border-bottom: 0;
  @include media($mobile) {
    font-size: 12px;
    border: 0px
  }
}
