.article {
  @include ma-container;
  padding-top: ma-spacing(1);
  min-height: 0;
  article {
    @include clearfix;
    text-align: left;
    padding-bottom: 0;
    *:last-child {
      margin-bottom: $base-spacing;
      padding-bottom: 0;
    }
    h1, h2, h3, h4 {
      text-align: center;
    }
    .subheader {
      font-size: modular-scale(1);
      font-weight: 500;
      margin-bottom: ma-spacing(1);
    }
    code {
      font-family: monaco;
      font-size: modular-scale(-1);
      font-style: normal;
      padding: 0.1em 0.4em;
      white-space: inherit;
      word-wrap: break-all;
    }
    h3 {
      font-weight: 500;
      text-transform: uppercase;
    }
    p.date {
      color: transparentize($base-font-color, 0.6);
      font-size: modular-scale(-1);
    }
    p {
      max-width: em(580);
      font-weight: 400;
      letter-spacing: 1;
      span {
        font-size: modular-scale(-1);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.0275em;
      }
    }
    ol {
      @extend .default-ol
    }
    ul {
      @extend .default-ul
    }
    hr {
      width: 3em;
    }
    p.author {
      font-style: italic;
    }
  }
  & + .container > .button-row {
    padding-top: $base-spacing;
  }
}

.article--left {
  @extend .article;
  @include media($desktop) {
    article {
      float: left;
      text-align: left;
      h1, h2, h3, p {
        text-align: left;
      }
    }
  }
}

.article--centered {
  @extend .article;
  @include ma-container(em(580));

  @include media($desktop) {
    article {
      text-align: left;
    }
    h1, h2, h3, p {
      text-align: left;
    }
  }
}

.article--right {
  @extend .article;

  @include media($desktop) {
    article {
      text-align: right;
      p {
        clear: both;
        float: right;
      }
      h1, h2, h3, p {
        text-align: right;
      }
    }
  }
}
