- data.htaccess.errors.each do |code, document|
  ErrorDocument #{code} #{document}

Options -Indexes

RewriteEngine on
RewriteCond %{HTTP_HOST} ^thecraftacademy.co.za
RewriteRule (.*) https://thecraftacademy.co.za/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.thecraftacademy.co.za
RewriteRule (.*) https://thecraftacademy.co.za/$1 [R=301,L]
