
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_error.jpg')});"}
  .container
    .centered-row
      %h1 Oj då! En 404!
      %h4
        Det är okay. Ibland blir det inte som man önskar sig.
      %p
        %strong Felmeddelanden är något du får lära dig att leva med. Applikationsutveckling är en ständig kamp.
        %strong Vill du veta mer om hur det är att studera på Craft Academy är du välkommen att höra av dig
        = mail_to 'info@craftacademy.se'
        &hyphen; eller varför inte ringa oss på 0723 612527.
      %p
        = link_to 'Ta mig tillbaka...', "/", class: 'button button--horizontal'
