- description 'Our detailed and proven course plan - developed by professional programmers and based on real-life projects and the latest industry practices.'
- title 'Course Plan'

= partial 'curriculum/splash.html.haml'

%hr

= partial 'curriculum/full_curriculum_vertical.html.haml'
= partial 'course_dates.html.haml'
= partial 'apply.html.haml'
