- description 'Your course fees include all instruction, materials, and continued support before and after the coding Bootcamp with technical and career assistance.'
%section.hero-splash{ style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});" }
  .container
    .centered-row
      %h1 Investment
      %p
        %strong
          Enrolling in the Craft Academy bootcamp is an investment in your future. It is the quickest way to jump-start a career in software development; one of the fastest and most efficient ways to change your life.
%section
  .container
    .centered-row
      %h4.leader Craft Academy
      %h2 Course Fees
      %h4
        The base price for Craft Academy bootcamp is R35,000*
      .three-width-row
        .column
          %h3.copy--left Everything included
          %p.copy--left Your course fees include all instruction, materials, and continued support before and after the bootcamp with technical and career assistance. We provide all the necessary tools to develop efficiently - software licenses, a functional and ergonomic work environment.
        .column
          %h3.copy--left Female participants
          %p.copy--left We also proudly offer a 10% discount to female bootcamp participants. Our industry needs more female developers and we want to do everything we can to help women succeed on their coding journey.

%section
  .container
    .centered-row
      %h2 Payment Options
      %p.copy
        Craft Academy bootcamp is a private educational form. You can choose to pay the education according to our standard model or apply for a partial payment.
      %h3 Standard Payment Plan*
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Deposit upon registration
            %th At the start of the bootcamp

            %tbody
              %tr
                %td{data:{header: "Deposit upon registration"}} R10 000
                %td{data:{header: "At the start of the bootcamp"}} R25 500
    .centered-row
      %h3 3 Month Payment Plan*
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Deposit upon registration
            %th At the start of the bootcamp
            %th Second month the bootcamp

            %tbody
              %tr
                %td{data:{header: "Deposit upon registration"}} R12 000
                %td{data:{header: "At the start of the bootcamp"}} R12 000
                %td{data:{header: "The second month of bootcamp"}} R12 000

    .centered-row
      %h3 12 Month Payment Plan*
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Deposit upon registration
            %th Monthly payment over 12 months

            %tbody
              %tr
                %td{data:{header: "Deposit upon registration"}} R3 900
                %td{data:{header: "At the start of the bootcamp"}} R2 925pm

      .centered-row
        %h3 24 Month Payment Plan*
        %table.responsive-table
          %thead.backgrounded
            %tr
              %th Deposit upon registration
              %th Monthly payment over 12 months

              %tbody
                %tr
                  %td{data:{header: "Deposit upon registration"}} R4 200
                  %td{data:{header: "At the start of the bootcamp"}} R1 575pm

      .centered-row
        %p
        %p.copy
          Finances shouldn't stop anyone from fulfilling their dream of becoming a programmer. We encourage everyone to contact us to discuss payment options, including our flexible deposit and payment schedule.
        %small *Terms and conditions apply.

= partial 'apply'
