- description 'Our detailed and proven course plan - developed by professional programmers and based on real-life projects and the latest industry practices.'
- title 'Course Plan'

= partial :'/english/partials/curriculum/splash.html.haml'

%hr

= partial :'/english/partials/curriculum/full_curriculum_vertical.html.haml'
= partial :'/partials/course_dates.html.haml', locals: {language: :en}
= partial :'/english/partials/apply.html.haml'
