- description 'Learn coding and web development in three months. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others. We offer training on-location in Gothenburg, Stockholm, Pretoria and around the world by distance.'
- title 'About Us'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 About Craft Academy
      %p
        %strong
          Craft Academy is a twelve-week intensive course designed to take you from zero to junior programmer. We're a group of dedicated coaches with decades of coding experience.

%hr
%section
  .container
    %article
      %h3 Our mission
      %h4.copy--left We aim to provide our students with the most effective training possible to prepare them - in an incredibly short time - to join the technical workforce, or build their own advanced projects.
      %p.copy--left There is a strong need for web developers in South Africa and throughout the world. We train programmers who not only write great code, but who understand the industry's conventions, problem solve with intention, and are ready to join the workforce and be a productive member of a team. We believe that coding is a craft, not just the symbols you put into a program. To that end, we teach an ambitious array of coding skills, introducing students to dozens of tools and two coding languages, but we also teach coding methods like Agile and Test-Driven Development. These practices mold developers who will thrive in the real world.

= partial :'english/partials/full_graduates_en'
= partial :'english/partials/apply'
