- description 'Our prices - Base Price for Craft Academy Bootcamp is 35 000 ZAR.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});"}
  .container
    .centered-row
      %h1 Investment
      %p
        %strong
          Enrolling in the Craft Academy bootcamp is an investment in your future. It is the quickest way to jump-start a career in software development; one of the fastest and most efficient ways to change your life.
%section
  .container
    .centered-row
      %h4.leader Craft Academy
      %h2 Course Fees
      %h4
        The base price for Craft Academy bootcamp is 35 000 ZAR
      .three-width-row
        .column
          %h3.copy--left Everything included
          %p.copy--left Your course fees include all instruction, materials, and continued support before and after the bootcamp with technical and career assistance. We provide all the necessary tools to develop efficiently - software licenses, a functional and ergonomic work environment.
        .column
          %h3.copy--left Female participants
          %p.copy--left We also proudly offer a 10% discount to female bootcamp participants. Our industry needs more female developers and we want to do everything we can to help women succeed on their coding journey.
      %p.copy--left
        Finances shouldn't stop anyone from fulfilling their dream of becoming a programmer. We encourage everyone to contact us to discuss payment options, including our flexible deposit and payment schedule.
      %p.copy--left
        A new cohort starts every eight weeks. Will you start your career as a junior developer with us?

= partial :'/english/partials/apply'
