%section
  .container
    %article
      %h2 Learn to Code with Craft Academy
      %h4 Start your next career with our intensive training
      %p.copy--left
        The tech industry has a huge effect on our lives, from how we talk to each other to how we learn. With Craft Academy, you can be a part of that inspiring world, and jump into a job market that is growing exponentially.
      %p.copy--left
        %strong
          You do not need prior coding experience. You do not need to be a computer wiz or have studied computer science. You need to be hungry. We can teach anyone to code, if they are focused and committed.
      %p.copy--left
        We believe that traditional education teaches students to do well on tests, rather than give them actual knowledge and experience.
        At Craft Academy, we provide neither grades nor diplomas. Instead, we help you develop the tools you need to be successful.
        Our course is unique, not just in intensity, but in approach. We provide a structured daily learning plan, projects, assignments and challenges, and continually push your limits to achieve the fastest learning possible. All in twelve weeks.
      -# %p.copy--left
      -#   %strong
      -#     With help from our network of Hiring Partners in Sweden and throughout Europe, we guide our students as they start their new careers.
