%section.backgrounded
  .container
    .centred-row
      %h2 Meet Our Coaches
      %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
      %p.copy--left
        Thomas Ochman founded Craft Academy after
      %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
      %p.copy--left
        Raoul D. has been working with code all his life.
        //something something you have been working with Craft Academy for how long and what is your background.
