%section.hero-splash-white
  .container
    .profile-row
      .copy
        %h2
          Meet Our Students
        %p
          Craft Academy students come from diverse backgrounds. But when they graduate from bootcamp, they all have one thing in common: they are ready to work as web developers. From entrepreneurs developing their own products to mid-level executives who wanted to make a career shift, their stories show the value in practical training.
