%section.backgrounded
  .container
    %article
      .centered-row
        %h2 Is Craft Academy right for you?
        %h4 We're looking for those who are ready to roll up their sleeves and work hard to achieve their goals.
        %table
          %tbody
            %tr
              %th.copy
                %h5= 'Craft Academy <br>may be right for you if'.html_safe
              %th.copy
                %h5= 'Craft Academy <br>might not be a good fit if'.html_safe
            %tr.copy--left
              %td You can dedicate 100% of your time, energy and attention to learning coding as a craft. You can only get out of bootcamp what you put in.
              %td You have to work a full-time job during the bootcamp. There simply isn't enough time for both.
            %tr.copy--left
              %td You have found traditional education constraining, frustrating, or boring. We don't care the slightest bit what your exam scores were in school. We care about your passion, your drive, and your dedication.
              %td Your time zone is more than two hours from CET. We have daily meetings, frequent demos and pair-programming sessions - all of which take place in real-time. We need all team members awake and participating.

            %tr.copy--left
              %td You love learning new things and thrive in fast-paced environments.
              %td You're not interested in coding. Don't enroll in bootcamp simply because there is great opportunity in the tech industry. Your passion and curiosity must drive your choice.
